<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <p v-if="loggedIn">Logged in User: {{ name }}</p>
    <p v-else="!loggedIn">Non user is logged in</p>
    <!-- for v-else works, needs the previous element is marked with v-f -->
    <!-- <p v-if="!loggedIn">Non user is logged in</p> -->
    <button @click="loggedIn = !loggedIn"> {{ loggedIn ? 'Exit' : 'Enter' }}</button>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            name: 'Henrique',
            loggedIn: false
        }
    })
</script>