<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
   <ul>
       <!-- <li v-for="(color, i) in colors">{{ color }} - {{ i }}</li> -->
       <li v-for="(color, i) in colors"> {{ i + 1 }}) {{ color }}</li>
   </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
           colors: ['red', 'green', 'yellow', 'blue'],
           people: [
               { name: 'Henrique', age: 27, weight: 70 },
               { name: 'Alexandra', age: 22, weight: 50 },
           ]
        }
    })
</script>

<style>
    ul {
        list-style: none;
    }
</style>