<script src="https://unpkg.com/vue"></script>

<div id="challenge">
  <!-- 1) Turn on the button to toggle the display of both
     paragraphs. Use both v-if and v-show and inspect the elements.
     to see the difference -->
  <h2>#01</h2>
  <div>
    <button @click="expression = !expression">Toggle</button>
    <p v-if="expression">Você quer me ver ...</p>
    <p v-else>...ou eu</p>
    <p v-show="expression">Você quer me ver ...</p>
    <p v-show="!expression">...ou eu</p>
  </div>

  <!-- 2) Display in an <ul> an array of elements of your choice.
     Also print the index of each element. -->
  <h2>#02</h2>
  <ul>
    <li v-for="(name, i) in names">{{ name }} - {{ i }}</li>
  </ul>
  
  <!-- 3) Print all key-value pairs from the following object:
    {
			title: 'Lord of the Rings',
			author: 'J.R.R. Tolkien',
			volume: '3'
		}
    Also print the index of each item. -->
  <h2>#03</h2>
  <ul>
    <li v-for="(value, key, index) in book">
        {{ key }}: {{ value }} - {{ index + 1 }} </li>
  </ul>
  
  <!-- 4) Print the following object (values only) and
     also create a nested loop for the array:
    {
			id: 10,
			name: 'Maria',
			grades: [7.67, 8.33, 6.98, 9.21]
		}
    (tip: use v-for and v-if in resolution) -->
  <h2>#04</h2>
  <ul>
    <li v-for="value in student">
        <template v-if="!Array.isArray(value)">
            {{ value }}
        </template>
        <template v-else>
            Grades:
            <ul>
                <li v-for="grade in value"> {{ grade }}</li>
            </ul>
        </template>
    </li>
  </ul>
</div>

<script src="app.js"></script>