<link rel="stylesheet" href="styles.css">
<script src="https://unpkg.com/vue"></script>

<div id="challenge">
	<!-- 1) Start effect execution using button.
     The effect should alternately change the "highlight" and
     "shrink" for each setInteval call. Use the div below
     with id "effect" to associate CSS classes. -->
	<h2>#01</h2>
	<div>
		<button @click="startEffect">Start effect</button>
		<div id="effect" :class="class1"></div>
	</div>
	
	<!-- 2) Create two CSS classes and associate the div using the array syntax-->
	<h2>#02</h2>
	<div :class="[{danger}, 'square']">I'm without CSS class :(</div>

	<!-- 3) Apply to the div below the user-informed class (create example CSS class). -->
	<h2>#03</h2>
	<div>
		<input type="text" v-model="class3">
		<div :class="class3"></div>
	</div>

	<!-- 4) Apply to the div below the user-informed class and
     another class using the value true / false (create example CSS classes). -->
	<h2>#04</h2>
	<div>
		<input type="text" v-model="class4">
		<input type="text" @input="setDanger">
		<div :class="[class4, {danger}]"></div>
	</div>

	<!-- 5) Repeat 3) but using styles instead of CSS classes.
     Match styles to div below -->
	<h2>#05</h2>
	<div>
		<input type="text" v-model="color5">
		<div :style="[style5, {backgroundColor: color5}]"></div>
	</div>

	<!-- 6) Create a simple progress bar with setInterval
     and style binding. -->
	<h2>#06</h2>
	<div>
		<button @click="startProgress">Start</button>
		<div class="progress-bar">
            <div class="progress" :style="{width}"></div>
        </div>
	</div>
</div>
<script src="app.js"></script>