<script src="https://unpkg.com/vue"></script>
<style>
    .boxes {
        display: flex;
        justify-content: space-around;
    }

    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
    }

    .c1 {
        background-color: red;
    }

    .c2 {
        background-color: green;
    }

    .c3 {
        background-color: blue;
    }

    .spin {
        transform: rotate(45deg);
    }
</style>

<div id="app">
    <div class="boxes">
        <div class="demo" :style="{'background-color': color}"></div>
        <div class="demo" :style="{backgroundColor: color}"></div>

        <div class="demo" :style="myStyle"></div>
        <div class="demo" :style="[myStyle, {height: heightSize}]"></div>
        <div class="demo"></div>
    </div>
    <hr>
    <input type="text" v-model="color">
    <input type="text" v-model="widthSize">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
           color: 'red',
           widthSize: 100,
           heightSize: 20
        },
        computed: {
            myStyle() {
                return {
                    backgroundColor: this.color,
                    // width: `${this.widthSize}px`
                    width: this.widthSize + 'px'
                }
            }
        }
    })
</script>